<nav class="navbar navbar-default navbar-fixed-top" id="navbar-fixed" role="navigation">
    <div class="container">
        <div class="navbar-header text-3xl font-bold text-white p-4 text-center">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"></button>
            <a class="navbar-brand " href="index.html">WhimsicalSoulSpeak.com</a>
        </div>
    </div>
</nav>
