<!doctype html>
<html lang="en">
  {% include 'head.njk' %}
  <body>
    {% include 'nav.njk' %}
    <main class="container">
        <article>
            <h1>{{ title }}</h1>
            <p>{{ date }}</p>
            {{ content | safe }}
        </article>
    </main>
  </body>
</html>



</head>
<body>

</body>
</html>
