---
title: whimsicalsoulspeak.com<
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% set css %}
    {% include "src/styles/index.css" %}
    {% endset %}
    <style>
      {{css | postcss | safe}}
    </style>
  </head>
  <body class="bg-blue-950">
    {% include 'nav.njk' %}
    <div class="h-48 bg-white container mx-auto p-4">
        {{ content | safe }}
    </div>
  </body>
</html>