:root {
  :root {
    --myTitle-color-light: #000000; /* Light mode color */
    --myTitle-color-dark: #ffffff; /* Dark mode color */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --myTitle-color: var(--myTitle-color-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --myTitle-color: var(--myTitle-color-light);
  }
}

.myTitle {
  color: var(--myTitle-color);
  text-decoration: none;
}

.rounded-image {
  border-radius: 15px; /* Adjust the value to change the roundness */
}

.float-right {
    float: right;
    margin: 0 0 10px 10px; /* Adjust margins as needed */
}

