html, body {
  /* background-color: #092d1d; */
}

:root {
  --myTitle-color: #000000; /* Light mode h1 color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --myTitle-color: #ffffff; /* Dark mode h1 color */
  }
}

.myTitle {
  color: var(--myTitle-color);
  text-decoration: none;
}

.rounded-image {
  border-radius: 15px; /* Adjust the value to change the roundness */
}

.float-right {
    float: right;
    margin: 0 0 10px 10px; /* Adjust margins as needed */
}

